In [23]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
chicago= pd.read_csv('/content/drive/My Drive/Tableau project/Chicago Listings.csv')
new_orleans= pd.read_csv('/content/drive/My Drive/Tableau project/New Orleans Listings.csv')

In [26]:
# Add a 'city' column to the Chicago
chicago['city'] = 'Chicago'

In [27]:
# Dataset First
chicago.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,city
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,125.0,3,250,2024-10-14,2.02,1,343,16,R17000015609,Chicago
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,81.0,2,569,2025-02-09,2.98,1,275,53,R24000114046,Chicago
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,187.0,4,117,2025-01-02,0.88,6,260,34,2209984,Chicago
3,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,NaN,Logan Square,41.91955,-87.70069,Entire home/apt,196.0,2,244,2025-03-09,1.40,1,55,47,R24000113825,Chicago
4,71930,"Rest, Relax and Explore",334241,Michael And Veronica,NaN,West Town,41.89615,-87.67934,Private room,76.0,3,129,2024-11-26,0.77,1,0,19,R23000108832,Chicago

In [28]:
# Dataset Rows & Columns
chicago.shape

(8748, 19)

In [29]:
# Dataset Info
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8748 entries, 0 to 8747
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8748 non-null   int64
 1   name                            8748 non-null   object
 2   host_id                         8748 non-null   int64
 3   host_name                       8748 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8748 non-null   object
 6   latitude                        8748 non-null   float64
 7   longitude                       8748 non-null   float64
 8   room_type                       8748 non-null   object
 9   price                           7718 non-null   float64
 10  minimum_nights                  8748 non-null   int64
 11  number_of_reviews               8748 non-null   int64
 12  last_review                     6870 non-null   object
 13  reviews_per_month               6870 non-null   float64
 14  calculated_host_listings_count  8748 non-null   int64
 15  availability_365                8748 non-null   int64
 16  number_of_reviews_ltm           8748 non-null   int64
 17  license                         6845 non-null   object
 18  city                            8748 non-null   object
dtypes: float64(5), int64(7), object(7)
memory usage: 1.3+ MB

In [30]:
# Add a 'city' column to the New Orleans
new_orleans['city'] = 'New Orleans'

In [31]:
new_orleans.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,city
0,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,61.0,30,503,2023-11-06,2.78,1,329,0,"22-RSTR-14107, 22-OSTR-14105",New Orleans
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,167.0,30,313,2025-02-02,1.83,1,342,15,"21-RSTR-18609, 22-OSTR-20720",New Orleans
2,74498,Maison Marais 1,391462,Georgia,NaN,St. Roch,29.96986,-90.05172,Entire home/apt,150.0,3,649,2025-02-23,3.82,3,208,35,23-XSTR-13082,New Orleans
3,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,179.0,3,768,2025-03-01,4.56,1,0,59,"23-NSTR-15067, 24-OSTR-20882",New Orleans
4,79609,Bywater's Original & Finest,428909,Stephen,NaN,St. Claude,29.96448,-90.03667,Entire home/apt,136.0,30,505,2024-11-14,2.97,1,341,13,"23-ISTR-02823, 23-OSTR-02823",New Orleans

In [32]:
new_orleans.shape

(7842, 19)

In [33]:
new_orleans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7842 entries, 0 to 7841
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7842 non-null   int64
 1   name                            7842 non-null   object
 2   host_id                         7842 non-null   int64
 3   host_name                       7829 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7842 non-null   object
 6   latitude                        7842 non-null   float64
 7   longitude                       7842 non-null   float64
 8   room_type                       7842 non-null   object
 9   price                           6640 non-null   float64
 10  minimum_nights                  7842 non-null   int64
 11  number_of_reviews               7842 non-null   int64
 12  last_review                     6514 non-null   object
 13  reviews_per_month               6514 non-null   float64
 14  calculated_host_listings_count  7842 non-null   int64
 15  availability_365                7842 non-null   int64
 16  number_of_reviews_ltm           7842 non-null   int64
 17  license                         6493 non-null   object
 18  city                            7842 non-null   object
dtypes: float64(5), int64(7), object(7)
memory usage: 1.1+ MB

In [34]:
#combine chicago and new orleans listings dataset
combined = pd.concat([chicago, new_orleans], axis=0, ignore_index=True)

In [35]:
# Dataset Duplicate Value Count
len([combined.duplicated()])

1

In [36]:
# Missing Values/Null Values Count
print(combined.isnull().sum())

id                                    0
name                                  0
host_id                               0
host_name                            13
neighbourhood_group               16590
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              2232
minimum_nights                        0
number_of_reviews                     0
last_review                        3206
reviews_per_month                  3206
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                            3252
city                                  0
dtype: int64

In [37]:
# Write your code to make your dataset analysis ready.
# Let's Start with data cleaning.
# Remove duplicate rows from the hotel_booking DataFrame, modifying it in place
combined.drop_duplicates(inplace=True)

In [38]:
#drop 'neighbourhood_group' column
combined.drop(columns=['neighbourhood_group'], inplace=True)

In [39]:
#fill missing values in 'host_name' with 'no name'
combined['host_name'].fillna('No Name', inplace=True)

<ipython-input-39-ece10866dfc2>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined['host_name'].fillna('No Name', inplace=True)

In [40]:
#fill missing values in 'last_reviews' with 'no review' and 'reviews_per_month' with '0'
combined['last_review'].fillna('No Review', inplace=True)
combined['reviews_per_month'].fillna(0,inplace=True)

<ipython-input-40-83e4049ef836>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined['last_review'].fillna('No Review', inplace=True)
<ipython-input-40-83e4049ef836>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined['reviews_per_month'].fillna(0,inplace=True)

In [41]:
# Convert 'last_review' to datetime
pd.to_datetime(combined['last_review'], errors='coerce')

0       2024-10-14
1       2025-02-09
2       2025-01-02
3       2025-03-09
4       2024-11-26
           ...
16585          NaT
16586          NaT
16587          NaT
16588          NaT
16589          NaT
Name: last_review, Length: 16590, dtype: datetime64[ns]

In [42]:
#fill missing values in 'license' and 'not provide'
combined['license'].fillna('not provided', inplace=True)

<ipython-input-42-013873884071>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined['license'].fillna('not provided', inplace=True)

In [43]:
#fill missings values in 'price' with mean
combined['price'].fillna(combined['price'].mean(), inplace=True)

<ipython-input-43-2c8cbef65a61>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined['price'].fillna(combined['price'].mean(), inplace=True)

In [44]:
print(combined.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
city                              0
dtype: int64

In [45]:
combined.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,city
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,Hyde Park,41.78790,-87.58780,Private room,125.0,3,250,2024-10-14,2.02,1,343,16,R17000015609,Chicago
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,West Town,41.90166,-87.68021,Entire home/apt,81.0,2,569,2025-02-09,2.98,1,275,53,R24000114046,Chicago
2,10945,The Biddle House (#1),33004,At Home Inn,Lincoln Park,41.91196,-87.63981,Entire home/apt,187.0,4,117,2025-01-02,0.88,6,260,34,2209984,Chicago
3,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,Logan Square,41.91955,-87.70069,Entire home/apt,196.0,2,244,2025-03-09,1.40,1,55,47,R24000113825,Chicago
4,71930,"Rest, Relax and Explore",334241,Michael And Veronica,West Town,41.89615,-87.67934,Private room,76.0,3,129,2024-11-26,0.77,1,0,19,R23000108832,Chicago

In [46]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              16590 non-null  int64
 1   name                            16590 non-null  object
 2   host_id                         16590 non-null  int64
 3   host_name                       16590 non-null  object
 4   neighbourhood                   16590 non-null  object
 5   latitude                        16590 non-null  float64
 6   longitude                       16590 non-null  float64
 7   room_type                       16590 non-null  object
 8   price                           16590 non-null  float64
 9   minimum_nights                  16590 non-null  int64
 10  number_of_reviews               16590 non-null  int64
 11  last_review                     16590 non-null  object
 12  reviews_per_month               16590 non-null  float64
 13  calculated_host_listings_count  16590 non-null  int64
 14  availability_365                16590 non-null  int64
 15  number_of_reviews_ltm           16590 non-null  int64
 16  license                         16590 non-null  object
 17  city                            16590 non-null  object
dtypes: float64(4), int64(7), object(7)
memory usage: 2.3+ MB

In [47]:
# Create 'price_category' column
def categorize_price(price):
    if price < 75:
        return 'Low'
    elif 75 <= price <= 150:
        return 'Medium'
    else:
        return 'High'

combined['price_category'] = combined['price'].apply(categorize_price)

In [48]:
# Create 'review_activity' column based on reviews_per_month
def categorize_reviews(rpm):
    if rpm == 0:
        return 'Inactive'
    elif 0 < rpm <= 1:
        return 'Low'
    elif 1 < rpm <= 3:
        return 'Medium'
    else:
        return 'High'

combined['review_activity'] = combined['reviews_per_month'].apply(categorize_reviews)

In [49]:
# Create 'host_type' column
combined['host_type'] = combined['calculated_host_listings_count'].apply(lambda x: 'Individual' if x == 1 else 'Business')

In [50]:
combined.to_csv("cleaned_combined.csv", index=False)

In [51]:
from google.colab import files
files.download("cleaned_combined.csv")